doctype html
html(lang='en')
  head
    block head
      meta(charset="UTF-8")
      meta(name="description" content="API for food data")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      meta(name="msapplication-config" content="/favicon/browserconfig.xml")
      meta(name="msapplication-TileColor" content="#16002D")
      meta(name="theme-color" content="#16002D")

      block title
        title pistachio | API for food data
      
      link(rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png")
      link(rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png")
      link(rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png")
      link(rel="manifest" href="/favicon/site.webmanifest")
      link(href="/index.css" rel="stylesheet")

      script(async defer data-domains="pistachio.ai" data-website-id="24058e85-e322-4a08-b267-58a6368f042c" src="https://umami.pistachio.ai/umami.js")
  body
    block body
    script(src="/index.js")
