ol,
ul {
  max-width: 34em;
  list-style-type: none;
  h3 + & {
    margin-top: 0.75rem;
  }
  ul,
  ol {
    margin-left: 1em;
  }
}

li {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 10'%3E%3Ccircle cx='5' cy='5' r='3' fill='%232c005b'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 9px 20px;
  padding-left: 1em;
  line-height: 1.25;
  margin-top: 1rem;
  &.done {
    text-decoration: line-through;
  }
  &.requires {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 10'%3E%3Ccircle cx='5' cy='5' r='3' stroke='%232c005b'/%3E%3C/svg%3E");
  }
  li {
    margin-top: 0.5rem;
  }
}
