html,
body,
ol,
ul,
h1,
h2,
h3,
h4,
p,
pre,
table,
th,
td,
textarea,
input {
  margin: 0;
  padding: 0;
}

a,
abbr[title] {
  text-decoration: none;
  text-decoration: none;
}

:focus {
  outline: none;
}
