extends templates/page.pug

block body
  main#index
    section
      h1 pistachio
      p Pistachio is a #[abbr(title='representational state transfer ') REST]ful #[abbr(title='application programming interface') API] for food data. Start by reading the #[a(href='/docs') API docs].

    section
      h3 Data
      p Pistachio currently has ~3300 #[a(href='/docs#node') nodes].
      p The data is curated by hand using custom-built tools to ingest and parse source data. The raw data comes from cookbooks, Wikipedia, public databases, etc. If you have data you’d like to contribute, #[a(href="mailto:pistachio@marvinklein.com") send me an email]. I’m currently working on expanding the data and schema to include the source of the data where possible.

    section
      h3 Privacy and Terms
      p There are no third party tracking or advertising scripts on this site, and I have no plans to add any.
      p I use a pistachio-hosted instance of #[a(href='https://github.com/mikecao/umami') Umami] for basic web analytics. Umami does not collect any personally identifiable information and anonymizes all data collected. Users cannot be identified and are never tracked across websites.
      p You may use the API in your own applications (that’s what it’s there for!), but you may not permanently store the data retrieved or redistribute the data as such. If you’re doing something cool with the data, #[a(href='mailto:pistachio@marvinklein.com') let me know]!

    section
      h3 Stack
      p #[strong Docker] to containerize each app (this static site, the API, web analytics)
      p #[strong Google Cloud Platform] for infrastructure
      p #[strong Namecheap] for domain registration and DNS
      p #[strong Nginx] to serve this static site
      p #[strong Node] with restify for the API
      p #[strong Umami] for web analytics
      p #[strong Webpack], pug, sass to build these static docs. Source #[a(href='https://github.com/marvinklein/pistachio') on GitHub]

    section
      h3 Roadmap
      ul
        li Add the node’s edges to the returned data for a node.
        li Add a /search endpoint: Text search for nodes e.g. 'milk' with ranked results
        li Add a /match endpoint: Search the data with complex input objects describing e.g. { plant-based oils with a smoke point over 250°F }
        li Add a /parse endpoint: Parse natural language queries like '1 cup pureed squash or pumpkin' into structured data
        li Add sources to the data model.
        li Add public endpoints to add and update data.
          ul 
            li.requires Add authentication

